footer {
    /*页脚整体外观*/
    line-height: 40px;
    background: #f2f2f2;
    border-top: 1px solid #e4e4e4;
    font-size: 10pt;
    color: #222;
  }
  footer text, footer a {
    /*页脚链接和文字*/
    margin-left: 30px;
    color: #666;
    display: inline-block;
    line-height: 40px;
    font-family: sans-serif;
    font-size: 10pt;
    margin-right: 30px;
    text-decoration: none;
  }
  footer>a:visited {
    color: #609;
  }